<section class="lp-page-container">
  <div class="logo-header">
    <div class="logo">
      <%= image_tag "/logo.png", alt: "What's My Homework?", width: "40px", height: "40px" %>
      <h1>What's My Homework?</h1>
    </div>
    <i class="fa-solid fa-list-ul"></i>
  </div>

  <nav class="hamburger-menu" id="hamburger-menu">
      <ul>        
        <li class="nav-item">
        <i class="fa-solid fa-right-to-bracket"></i>
          <%= link_to new_user_session_path,
              class: "nav-link" do %>
            ログイン
          <% end %>
        </li>
      </ul>
  </nav>
  <!-- overlay-->
  <div id="menu-overlay" class="menu-overlay"></div>

  <div class="sub-title-container">
    <h1>宿題わかる<br>って最高じゃん？</h1>
    <div class="login-btn">
      <div class="cta-section-buttons fade-up delay-1 mt-5">
        <%= link_to "ログインする",
          new_user_session_path,
          class: "btn btn-lg btn-cta-primary rounded-pill fw-bold shadow" %>
      </div>
    </div>
  </div>
</section>

<%= render "static_pages/feature1" %>
<%= render "static_pages/feature2" %>
<%= render "static_pages/feature3" %>
<%= render "static_pages/feature4" %>
<%= render "static_pages/bottom" %>
<%= render "shared/footer" %>
