<% content_for :title, I18n.t('views.registrations.new.title') %>

<div class="sign-up-container">
  <%= render "shared/before_login_header" %>
  <div class="signup-card">

    <h2 class="signup-title">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- 名前 -->
      <div class="form-group">
        <%= f.label :name, "名前", class: "form-label" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :student_id, "生徒ID", class: "form-label" %>
        <%= f.text_field :student_id, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :classroom_id, "所属クラス", class: "form-label" %>
        <%= f.collection_select :classroom_id, @classrooms, :id, :name, { prompt: "選択してください" }, class: "form-select" %>
      </div>

      <!-- パスワード -->
      <div class="form-group">
        <%= f.label :password, "パスワード", class: "form-label" %>

        <% if @minimum_password_length %>
          <small class="password-hint">
            最低 <%= @minimum_password_length %> 文字
          </small>
        <% end %>

        <%= f.password_field :password, class: "form-control" %>
      </div>

      
      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

    
      <%= f.submit "サインアップする", class: "signup-btn" %>

    <% end %>

    <div class="auth-links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>