<%= render "admin/dashboard/navigation_header" %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title"><i class="fa-solid fa-pen-to-square"></i> 最近の宿題</h3>
        <%= link_to "+ 新しい宿題を作成", new_admin_homework_path, class: "btn btn-info" %>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>ステータス</th>
              <th>クラス名</th>
              <th>宿題開始日</th>
              <th>宿題終了日</th>
              <th>最終更新</th>
              <th>作成者</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @recent_homeworks.each do |homework| %>
              <tr>
                <td><%= homework.title %></td>
                <td>
                  <% if homework.status == "published" %>
                    <span class="badge bg-success">公開中</span>
                  <% else %>
                    <span class="badge bg-warning">下書き</span>
                  <% end %>
                </td>
                <td><%= homework.classroom&.eiken_level %></td>
                <td><%= homework.test_start_date&.strftime("%Y/%m/%d") %>
                  （<%= %w(日 月 火 水 木 金 土)[homework.test_start_date.wday] %>）
                </td>
                <td><%= homework.test_end_date&.strftime("%Y/%m/%d") %>
                  （<%= %w(日 月 火 水 木 金 土)[homework.test_start_date.wday] %>）
                </td>
                <td><%= homework.updated_at.strftime("%Y/%m/%d %H:%M") %>
                  （<%= %w(日 月 火 水 木 金 土)[homework.updated_at.wday] %>）
                </td>
                <td><%= homework.user&.name %></td>
                <td>
                  <%= link_to "編集", edit_admin_homework_path(homework), class: "btn btn-sm btn-warning" %>
                  <%= link_to "削除", admin_homework_path(homework), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>