<% content_for :title, I18n.t('views.sessions.new.title') %>

<div class="sign-in-container">
  <%= render "shared/before_login_header" %>
  <div class="login-card">
    <h2 class="login-title">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :student_id, "生徒ID", class: "form-label" %>
        <%= f.text_field :student_id, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, "ログイン状態を保持する", class: "form-check-label" %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "signup-btn" %>

    <% end %>
  </div>
</div>