<% content_for :title, @homework.title %>

<div class="homework-show">
  <%= render "homeworks/header" %>
  <div class="homework-show-body">
    <div class="homework-show-task-list">

      <div class="homework-show-task-list-header">
        <h3><%= @homework.title %> 宿題リスト</h3>
        <span class="homework-showtask-list-count"><%= @tasks.size %> タスク</span>
      </div>

      <p class="homework-created-by">
        <i class="fa-solid fa-circle-user"></i>
        作成：<span><%= @homework.user&.name %>先生</span>
      </p>

      <div class="homeworks-show-test-period">📅 テスト期間：
          <%= @homework.test_start_date.strftime("%m月%d日") %> 〜
          <%= @homework.test_end_date.strftime("%m月%d日") %>
      </div>

      <div class="homework-show-test-info">
        <ul>
          <li>📌 授業前に宿題を必ずチェックしよう！</li>
          <li>📌 今週の宿題は「マイタスク」をチェック</li>
        </ul>
      </div>

      <% @tasks.each do |task| %>

      <div id="task-<%= task.id %>" class="homework-show-task-item">
        <label class="homework-show-task-check-wrap">
          <div id="homework-show-completed-button-for-task-<%= task.id %>"></div>

          <div class="homework-show-task-content">
            <span class="homework-show-task-name">
              <i class="fa-solid fa-square-check"></i>
              <%= task.name %>
            </span>
            
            <% if task.pdf.attached? %>
              <%= link_to url_for(task.pdf), target: "_blank", class: "homework-show-pdf-link" do %>
                <i class="fas fa-file-pdf"></i>
                <%= task.pdf.filename %>
              <% end %>
            <% end %>
          </div>

        </label>
      </div>

    <% end %>
  </div>

    <%= link_to homeworks_path, class: "back-link" do %>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6"/>
      </svg>
      一覧に戻る
    <% end %>

  </div>
</div>

<%= render 'shared/navigation_bar' %>