<aside class="app-sidebar bg-body-secondary shadow">
    <div class="sidebar-brand">
      <a href="/admin" class="brand-link">
        <span class="brand-text fw-light">宿題管理画面</span>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
          <li class="nav-item">
            <%= link_to "+ トップ", admin_root_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "+ 宿題 一覧", admin_homeworks_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "+ 通知 一覧", admin_notifications_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "+ 宿題 新規作成", new_admin_homework_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "+ クラス 新規作成", new_admin_classroom_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "+ ユーザー管理", admin_users_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "ログアウト", root_path, method: :delete, form: { data: { turbo: false } }, class: "nav-link" %>
          </li>
        </ul>
      </nav>
    </div>
</aside>